.TelaLogin{
    height: 100vh;
    background-color: #1c6ea4;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.login-geral {
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


.login-geral h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #3498db;
    background-color: #fff;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 14px;
    background-color: #3498db;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.login-button:active {
    background-color: #1c6ea4;
    transform: translateY(0);
}