
button {
  width: 95%;
  padding: 14px;
  background-color: #3498db;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 13px;
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

button:active {
  background-color: #1c6ea4;
  transform: translateY(0);
}