/* Estilos para a página de Recibo Online CIS */
.home {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/background/img-home.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container-home {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-home {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-recibo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.form-recibo label {
  font-weight: bold;
  color: #555;
  flex-basis: 25%;
}

.form-recibo input, .form-recibo select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  flex-basis: 65%;
  color: rgb(139, 139, 139);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.form-recibo input[type="date"] {
  font-size: 14px;
}

.form-recibo button {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-basis: 100%;
}

.form-recibo button:hover {
  background-color: #45a049;
}
