/* Estilos aprimorados para a página de Recibo Online CIS */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  width: 100%;
}

.container-home {
  max-width: 800px;
  width: 700px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.titulo-home {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
  color: #ffffff;
  background-color: #00a9f7;
  border-radius: 8px;
}

.logo-home {
  display: block;
  margin: 0 auto 15px;
  max-width: 210px; /* Ajuste conforme necessário */
}

.form-recibo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-recibo label {
  font-weight: 600;
  color: #444;
  margin-bottom: 3px;
}

.form-recibo input, 
.form-recibo select {
  padding: 10px;
  border: none; 
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
  border-bottom: 1px solid #000000; 
  outline: none; 
}

.form-recibo input:focus, 
.form-recibo select:focus {
  border-color: #888;
  outline: none;
  background-color: #fbfbfb;
}

.form-recibo button {
  padding: 12px;
  background-color: #00a9f7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-recibo button:hover {
  background-color: #04a4c4;
  transform: scale(1.02);
}

.opcional{
  font-weight: lighter;
  font-size: 13px;
}

/* Estilos para o rodapé */
.footer-home {
  width: 100%;
  background-color: #4f4f4f; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto */
  text-align: center; /* Alinhar o texto no centro */
  padding: 10px; /* Espaçamento interno */
  position: relative; /* Pode ser útil caso o rodapé precise se comportar de maneira fixa */
}


.footer-home p {
  margin: 5px 0;
}

.footer-home p:last-child {
  font-size: 0.9em;
}
